@media only screen and (max-width: 1200px){
    
}
@media only screen and (max-width: 992px){
    
}
@media only screen and (max-width: 768px){
    .footer-main-sec .footer-link-col,
    .footer-bottom-sec .footer-link-col{
        margin-bottom: 30px;
    }
    .footer-bottom-sec .copyright-text{
        margin-bottom: 20px;
    }
    .newletter-sec .newsletter-box{
        padding-right: 0;
    }
    .newletter-sec .newsletter-box .mail-box .submit-btn{
        margin-bottom: 15px;
    }
    .main-banner-sec .content-box{
        width: 95%;
        padding: 20px;
    }
}
@media only screen and (max-width: 576px){
    
}
@media only screen and (max-width: 400px){
    
}