@media only screen and (max-width: 1200px){
    
}
@media only screen and (max-width: 992px){
    
}
@media only screen and (max-width: 768px){
    .footer-main-sec .footer-link-col,
    .footer-bottom-sec .footer-link-col{
        margin-bottom: 30px;
    }
    .footer-bottom-sec .copyright-text{
        margin-bottom: 20px;
    }
    .newletter-sec .newsletter-box{
        padding-right: 0;
    }
    .newletter-sec .newsletter-box .mail-box .submit-btn{
        margin-bottom: 15px;
    }
    .main-banner-sec .content-box{
        width: 95%;
        padding: 20px;
    }
    .navbar-top{
        display: none;
    }
    .navbar-main .icons-list{
        flex-direction: row;
    }
    .navbar-main .icons-list li{
        margin-right: 10px;
    }
    .top-nav-links{
        display: block;
    }
    .plan-save-section .content-box{
        left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    #myVideo{
        border-bottom-right-radius: 0!important;
    }
    .unlock-city-sec .content-box{
        left: 0!important;
        border-radius: 10px;
    }
}
@media only screen and (max-width: 576px){
    
}
@media only screen and (max-width: 400px){
    
}