@import url("./variables.css");

/* font-family: 'Plus Jakarta Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    position: relative;
    background-color: var(--white);
}

a {
    text-decoration: none;
    transition: 0.3s all ease;
}



/* =======================================================================
    Buttons CSS
========================================================================== */

/* =======================================================================
    General Common CSS
========================================================================== */



/* =======================================================================
    Navbar CSS
========================================================================== */
.navbar-top{
    border-bottom: 1px solid var(--text);
    padding: 10px 0;
}
.navbar-top .link-box ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: start;
}
.navbar-top .link-box ul li{
    margin-right: 20px;
}
.navbar-top .link-box ul li a{
    color: var(--text);
    font-size: 12px;
    font-weight: 400;
    transition: 0.3s all ease;
}
.navbar-top .link-box ul li a:hover{
    color: var(--blue);
    text-decoration: underline;
}
.navbar-top .link-box ul li .btn-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}
.navbar-top .link-box ul li .btn-link:hover{
    text-decoration: none;
}

.navbar-main .nav-link{
    color: var(--text);
    font-size: 15px;
    font-weight: 500;
}
.navbar-main{
    position: relative;
}
.navbar-main .nav-link:hover,
.navbar-main .nav-link.active{
    color: var(--blue);
    text-decoration: underline;
    text-underline-offset: 4px;
}
.mega-menu{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white);
    z-index: 10;
    width: 100%;
    border-top: 1px solid var(--text);
    padding: 20px 40px;
    display: none;
}
.mega-menu .mega-item{
    overflow: hidden;
    margin-bottom: 20px;
}
.mega-menu .mega-item .title{
    color: var(--blue);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}
.mega-menu .mega-item .title i{
    transition: 0.3s all ease;
}
.mega-menu .mega-item .title:hover{
    text-decoration: underline;
}
.mega-menu .mega-item .title:hover i{
    padding-left: 10px;
}
.mega-menu .mega-item .desc{
    font-size: 12px;

}
.mega-menu .img-box img{
    border-radius: 15px;
    margin-bottom: 15px;
    width: 100%;
    display: block;
}
.mega-menu .img-box a{
    color: var(--blue);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}
.top-nav-links{
    display: none;
    margin-top: 10px;
}
.top-nav-links ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.top-nav-links ul li{
    margin-bottom: 10px;
}
.top-nav-links ul li a{
    color: var(--text);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
}
.top-nav-links ul li a:hover{
    color: var(--blue);
    text-decoration: underline;
    text-underline-offset: 4px;
}

/* =======================================================================
    Main Banner CSS
========================================================================== */
.main-banner-sec{
    background-image: url('https://www.visitdubai.com/-/media/images/leisure/homepage/2023-homepage-hero/desert-winter-friends-det.jpeg?rev=376389dece354be381c427c690651126&cx=0.63&cy=0.48&cw=1556&ch=690');
    border-bottom-right-radius: 132px;
    height: 550px;
    position: relative;
    margin-bottom: 100px;
}
.main-banner-sec .content-box{
    background-color: var(--yellow);
    transition: all .7s ease-in-out;
    padding: 76px 120px 60px;
    border-top-right-radius: 80px;
    position: absolute;
    bottom: -50px;
    width: 800px;
}
.main-banner-sec .content-box .title{
    color: var(--red);
    font-size: 25px;
    font-weight: 800;
}
.main-banner-sec .content-box .desc{
    color: var(--blue);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.main-banner-sec .content-box .banner-btn{
    background-color: var(--blue);
    color: var(--white);
    padding: 10px 30px;
}
.main-banner-sec .banner-top-img{
    position: absolute;
    top: 0px;
    left: 30px;
}



/* =======================================================================
    Event Page CSS
========================================================================== */
.sub-page-heading{
    padding: 50px 0;
    border-top: 1px solid #0000001e;
}
.sub-page-heading .bread-crumbs{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
}
.sub-page-heading .bread-crumbs a{
    color: var(--text);
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
}
.sub-page-heading .bread-crumbs a:hover{
    color: var(--blue);
    text-decoration: underline;
}
.sub-page-heading .bread-crumbs i{
    color: var(--text);
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
}
.sub-page-heading .bread-crumbs p{
    color: var(--text);
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 0;
}
.sub-page-heading .heading{
    font-size: 40px;
    font-weight: 800;
}




.trip-video-sec .sub-heaidng{
    color: var(--text);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.trip-video-sec .desc{
    color: var(--text);
    font-size: 14px;
    font-weight: 400;
}
.trip-video-sec .video-box{
    position: relative;
}
.trip-video-sec .play-btn{
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: var(--blue);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    top: 50px;
    right: 30px;
    transition: 0.3s all ease;
    border: none;

}



.start-planing-sec{
    padding: 70px 0 50px 0;
}
.section-heading{
    margin-bottom: 50px;
}
.section-heading h2{
    color: var(--black);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.section-heading p{
    color: var(--text);
    font-size: 16px;
    font-weight: 600;
}
.planing-card{
    box-shadow: 0 4px 10px 1px rgba(0,0,0,.1);
    border-radius: 5px;
    margin-bottom: 30px;
}
.planing-card .img-box img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.planing-card .content-box{
    padding: 10px ;
}
.planing-card .content-box .title{
    font-size: 18px;
    font-weight: 600;
}
.planing-card .content-box .desc{
    font-size: 14px;
    max-height: 3.0em; /* 2 lines of text */
    overflow: hidden;
    text-overflow: ellipsis; /* Show ellipsis (...) if text overflows */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
}
.plan-save-section{
    position: relative;
    padding: 70px 0;
}
.plan-save-section .img-box img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}
.plan-save-section .content-box{
    background-color: var(--yellow);
    padding: 60px 80px;
    border-top-left-radius: 130px;
    border-bottom-right-radius: 130px;
    position: relative;
    left: -100px;
}
.plan-save-section .content-box .title{
    color: var(--blue);
    font-weight: 500;
    font-size: 30px;
}
.btn-outline-white{
    border: 1.5px solid var(--blue);
    color: var(--blue);
    padding: 10px 25px;
}
.btn-outline-white:hover{
    background-color: var(--white);
}


/* =======================================================================
    Whats on Page CSS
========================================================================== */
.whats-on-top-sec{
    background: rgb(177,16,35);
    background: linear-gradient(180deg, rgba(177,16,35,1) 38%, rgba(252,170,40,1) 100%);
    color: var(--white);
    position: relative;
    padding-bottom: 250px;
    margin-bottom: 350px;
}
.whats-on-top-sec .sub-page-heading .bread-crumbs a,
.whats-on-top-sec .sub-page-heading .bread-crumbs i,
.whats-on-top-sec .sub-page-heading .bread-crumbs p{
    color: var(--white);
}
.whats-on-top-sec .heading{
    font-weight: 600;
    color: var(--white);
    font-size: 50px;
    margin-bottom: 30px;
}
.whats-on-top-sec .cat-btn{
    margin-bottom: 20px;
}
.whats-on-top-sec .cat-btn a{
    background-color: var(--white);
    color: var(--grayscale);
}
.whats-on-top-sec .cat-btn a:hover,
.whats-on-top-sec .cat-btn a.active{
    background-color: var(--grayscale);
    color: var(--white);
    border-color: var(--grayscale);
}
.whats-on-top-sec .desc{
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    width: 80%;
    margin-bottom: 30px;
}
.whats-on-top-sec .slider-box{
    position: absolute;
    width: 100%;
}
.whats-on-top-sec .slider-box .video-box .play-btn{
    background-color: var(--white);
    color: var(--red);
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    position: absolute;
    top: 50px;
    right: 50px;
}
#whats-on-first-slider .owl-nav{
    position: absolute;
    top: 100px;
    right: 45px;
}
#whats-on-first-slider .owl-nav button{
    background-color: var(--white);
    color: var(--red);
    border-radius: 5px;
    border: none;
    padding: 10px 15px!important;
    display: block;
    width: fit-content;
    transition: 0.3s all ease;
}
#whats-on-first-slider .owl-nav button:hover{
    background-color: var(--red);
    color: var(--white)!important;
}
#whats-on-first-slider .owl-dots{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 100px;
}
#whats-on-first-slider .owl-dots .owl-dot span{
    background-color: #c5c5c5;
    width: 5px;
    height: 5px;
}
#whats-on-first-slider .owl-dots .owl-dot.active span{
    background-color: var(--red);
    width: 10px;
    height: 10px;
}

/* Perfect Day Section */
.perfect-day-sec{
    padding-bottom: 50px;
}
.perfect-day-sec .desc{
    color: var(--text);
    font-weight: 500;
    font-size: 16px;
}
.perfect-day-sec .desc a{
    color: var(--red);
    text-decoration: underline;
    transition: 0.3s all ease;
    font-weight: 600;
}
.perfect-day-sec .desc a:hover{
    letter-spacing: 0.5px;
}
/* Unlock City Section */
.unlock-city-sec .video-box{
    position: relative;
    padding: 70px 0;
}
.unlock-city-sec .video-box .play-btn{
    position: absolute;
    bottom: 100px;
    left: 50px;
    background-color: var(--white);
    color: var(--red);
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
}
.unlock-city-sec .content-box{
    background-color: var(--red);
    color: var(--white);
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding: 60px 50px;
    position: relative;
    left: -130px;
}
.unlock-city-sec .content-box .heading{
    color: var(--white);
    font-size: 30px;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
}
.unlock-city-sec .content-box .heading:hover{
    text-decoration: underline;
}
.unlock-city-sec .content-box .desc{
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-bottom: 30px;
}
.btn-outline-tranparent{
    background-color: transparent;
    border: 1.5px solid var(--white);
    border-radius: 10px;
    padding: 10px 20px;
    color: var(--white);
    font-weight: 500;
    font-size: 18px;
    transition: 0.3s all ease;
}
.btn-outline-tranparent:hover{
    background-color: var(--white);
    color: var(--red);
}
/* Festival section */
.festival-list-sec{
    padding: 70px 0 40px 0;
}
.festival-list-sec .festival-item{
    background-color: #FCAA28;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 30px;
}
.festival-list-sec .festival-item .img-box{
    overflow: hidden;
}
.festival-list-sec .festival-item .img-box img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s all ease;
    border-radius: 10px 10px 0 0;
}
.festival-list-sec .festival-item .content-box{
    padding: 20px 30px 40px 30px;
}
.festival-list-sec .festival-item .content-box .date{
    color: var(--black);
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 11px;
}
.festival-list-sec .festival-item .content-box .title{
    color: var(--black);
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
    transition: 0.3s all ease;
}
.festival-list-sec .festival-item .content-box .title:hover{
    text-decoration: underline;
}
.festival-list-sec .festival-item .content-box .desc{
    color: var(--black);
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 25px;
}
.festival-list-sec .festival-item .content-box .btn-outline-tranparent{
    color: var(--black);
    font-size: 14px;
}
.festival-list-sec .festival-item:hover .img-box img{
    transform: scale(1.1);
    filter: brightness(0.7);
}

/* Concet Item */
.festival-list-sec .concert-item{
    background-color: var(--red);
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 30px;
}
.festival-list-sec .concert-item .img-box{
    overflow: hidden;
}
.festival-list-sec .concert-item .img-box img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s all ease;
    border-radius: 10px 10px 0 0;
}
.festival-list-sec .concert-item .content-box{
    padding: 20px 30px 40px 30px;
}
.festival-list-sec .concert-item .content-box .date{
    color: var(--white);
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 11px;
}
.festival-list-sec .concert-item .content-box .title{
    color: var(--white);
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
    transition: 0.3s all ease;
}
.festival-list-sec .concert-item .content-box .title:hover{
    text-decoration: underline;
}
.festival-list-sec .concert-item .content-box .desc{
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 25px;
}
.festival-list-sec .concert-item .content-box .btn-outline-tranparent{
    color: var(--white);
    font-size: 14px;
}
.festival-list-sec .concert-item:hover .img-box img{
    transform: scale(1.1);
    filter: brightness(0.7);
}

/* Wahts On Main Section */
.wahts-on-main-sec{
    position: relative;
}
.bg-red-box{
    background-color: var(--red);
    width: 98%;
    margin: 0 auto;
    height: 500px;
    border-top-left-radius: 100px;
    position: absolute; 
    top: 0;
    left: 1%;
    z-index: -1;
}
.wahts-on-main-sec .img-box img{
    border-top-left-radius: 60px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.wahts-on-main-sec .content-box{
    margin-left: 50px;
}
.wahts-on-main-sec .content-box .small{
    text-transform: uppercase;
    color: var(--black);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
}
.wahts-on-main-sec .content-box .title{
    color: var(--black);
    font-size: 30px;
    font-weight: 600;
    display: block;
    margin-bottom: 40px;
}
.wahts-on-main-sec .content-box .title:hover{
    text-decoration: underline;
}
.wahts-on-main-sec .content-box .desc{
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 50px;
}
.read-more-link-red{
    color: var(--red);
    font-weight: 600;
    font-size: 16px;
}
.read-more-link-red:hover{
    text-decoration: underline;
}
.like-btn{
    background-color: var(--white);
    border: 1px solid transparent;
    color: var(--red);
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    transition: 0.3s all ease;
}
.like-btn:hover{
    background-color: var(--red);
    color: var(--white);
}
/* Wahts on Slider  */
.wo-slider-item .img-box{
    overflow: hidden;
    margin-bottom: 30px;
}
.wo-slider-item .img-box img{
    border-radius: 10px;
    width: 100%;
    height: 300px;
}
.wo-slider-item .content-box{
    position: relative;
    margin: 0;
}
.wo-slider-item .content-box .like-btn{
    position: absolute;
    right: 30px;
    top: -60px;
}
.wo-slider-item .content-box .title{
    color: var(--black);
    font-size: 18px;
    font-weight: 600;
}
.wo-slider-item .content-box .read-time{
    color: var(--black);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .5px;
}
#wo-main-sec-slider .owl-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 30%;
    position: absolute;
    width: 100%;
}
#wo-main-sec-slider .owl-nav button{
    background-color: var(--white);
    color: var(--red);
    padding: 10px 15px!important;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    transition: 0.3s all ease;
}
#wo-main-sec-slider .owl-nav button:hover{
    background-color: var(--red);
    color: var(--white);
}
#wo-main-sec-slider .owl-nav .owl-next{
    right: -70px;
    position: relative;
}
#wo-main-sec-slider .owl-nav .owl-prev{
    left: -70px;
    position: relative;
}
#wo-main-sec-slider .owl-dots{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 100px;
}
#wo-main-sec-slider .owl-dots .owl-dot span{
    background-color: #c5c5c5;
    width: 5px;
    height: 5px;
}
#wo-main-sec-slider .owl-dots .owl-dot.active span{
    background-color: var(--red);
    width: 10px;
    height: 10px;
}





/* =======================================================================
    Local Culture Page
========================================================================== */
.text-after-slider{
    font-size: 20px;
    font-weight: 300;
    color: var(--grayscale);
}
.jump-to-sec{
    padding: 70px 0 50px 0;
}
.jump-to-sec .title{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
}
.jump-to-sec a{
    color: var(--grayscale);
    font-size: 18px;
    text-decoration: underline;
    font-weight: 400;
    display: block;
    margin-bottom: 20px;
    width: fit-content;
}
.jump-to-sec a:hover{
    color: var(--red);
    letter-spacing: 0.5px;
}

.culture-regular-sec{
    padding-bottom: 70px;
}
.culture-regular-sec .heading{
    font-size: 30px;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 30px;
}
.culture-regular-sec .text{
    font-size: 16px;
    font-weight: 400;
    color: var(--text);
    margin-bottom: 20px;
}
.culture-regular-sec .text.bold{
    font-weight: 600;
}
.cr-item img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}
.cr-item .text{
    color: var(--grayscale);
    font-size: 12px;
    font-style: italic;
    margin-bottom: 0;
    font-weight: 600;
    padding-left: 20px;
}
.culture-regular-slider{
    position: relative;
}
.culture-regular-slider .owl-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 35%;
}
.culture-regular-slider .owl-nav button{
    background-color: var(--white)!important;
    font-size: 20px!important;
    color: var(--blue)!important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1)!important;
    padding: 10px 15px!important;
    display: block!important;
    width: fit-content!important;
    transition: 0.3s all ease;
}
.culture-regular-slider .owl-nav button:hover{
    background-color: var(--blue)!important;
    color: var(--white)!important;
}
.culture-regular-slider .owl-dots{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 100px;
}
.culture-regular-slider .owl-dots .owl-dot span{
    background-color: #c5c5c5;
    width: 5px;
    height: 5px;
}
.culture-regular-slider .owl-dots .owl-dot.active span{
    background-color: var(--blue);
    width: 10px;
    height: 10px;
}

.festival-list-sec .concert-item.white{
    background-color: var(--white);
    color: var(--black);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}
.festival-list-sec .concert-item.white .content-box .date{
    color: var(--black);
}
.festival-list-sec .concert-item.white .content-box .title{
    color: var(--black);
}
.festival-list-sec .concert-item.white .content-box .desc{
    color: var(--black);
}


.festival-list-sec .concert-item.blue{
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}
.festival-list-sec .concert-item.blue .content-box .date{
    color: var(--white);
}
.festival-list-sec .concert-item.blue .content-box .title{
    color: var(--white);
    min-height: 45px;
}
.festival-list-sec .concert-item.blue .content-box .desc{
    color: var(--white);
    /* min-height: 100px; */
}



/* =======================================================================
    Travel Page CSS
========================================================================== */
.travel-video-banner{
    padding-bottom: 200px;
}
.travel-video-banner .play-btn{
    color: var(--blue);
    font-size: 20px;
    background-color: var(--white);
    padding: 10px 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    border: none;
    border-radius: 6px;
    position: absolute;
    top: 30px;
    right: 50px;
}
.travel-video-banner .content-box{
    background-color: var(--blue);
    color: var(--white);
    border-radius: 0 60px 0 0;
    padding: 70px 70px;
    width: 60%;
    position: absolute;
    top: 55%;
    left: 10%;
}
.travel-video-banner .content-box .title{
    font-size: 40px;
    font-weight: 700;
}
.travel-video-banner .content-box .desc{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.travel-regular-sec{
    position: relative;
    padding: 50px 0;
}
.travel-regular-sec .img-box img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}
.travel-regular-sec .content-box{
    background-color: var(--blue);
    border-radius: 60px 0 60px 0;
    padding: 80px 120px;
    position: relative;
    left: -100px;
}
.travel-regular-sec .content-box .title{
    color: var(--white);
    font-size: 30px;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
}
.travel-regular-sec .content-box .desc{
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* Explore Item */
.explore-sec{
    padding: 70px 0 40px 0;
}
.explore-item{
    border: 1px solid #f5f5f5;
    padding: 24px 24px 19px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    margin-bottom: 30px;
}
.explore-item .img-box{
    text-align: center;
    margin-bottom: 30px;
}
.explore-item .img-box img{
    width: 200;
    height: 200;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 50%;
}
.explore-item .content-box .title{
    color: var(--black);
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}
.explore-item .content-box .desc{
    color: var(--black);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
    min-height: 90px;
}
.explore-item .content-box .link{
    color: var(--blue);
    font-size: 14px;
    font-weight: 600;
}

.browse-item{
    background-color: rgb(0, 95, 102);
    color: var(--white);
    padding: 40px 25px;
    border-radius: 10px;
    height: 350px;
}
.browse-item .title{
    color: var(--white);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
}
.browse-item .desc{
    color: var(--white);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 35px;
}

#browse-slider .owl-nav{
    position: absolute;
    top: -100px;
    right: 45px;
    display: flex;
}
#browse-slider .owl-nav button{
    background-color: var(--white);
    color: var(--blue);
    border-radius: 5px;
    border: none;
    padding: 10px 15px!important;
    display: block;
    width: fit-content;
    transition: 0.3s all ease;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}
#browse-slider .owl-nav button:hover{
    background-color: var(--blue);
    color: var(--white)!important;
}
#browse-slider .owl-dots{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 100px;
}
#browse-slider .owl-dots .owl-dot span{
    background-color: #c5c5c5;
    width: 5px;
    height: 5px;
}
#browse-slider .owl-dots .owl-dot.active span{
    background-color: var(--blue);
    width: 10px;
    height: 10px;
}
/* =======================================================================
    Footer CSS
========================================================================== */
footer{
    position: relative;
}
.newletter-sec{
    background-color: var(--white);
    border-top: 4px solid var(--red);
    padding: 50px 0 20px 0;
}
.newletter-sec .newsletter-box{
    margin-bottom: 30px;
    padding-right: 50px;
}
.newletter-sec .newsletter-box .title{
    color: var(--black);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}
.newletter-sec .newsletter-box .desc{
    color: var(--text);
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}
.newletter-sec .newsletter-box .desc a{
    color: var(--text);
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
    text-decoration: underline;
}
.newletter-sec .newsletter-box .mail-box .form-control{
    background-color: var(--white);
    min-height: 45px;
    margin-bottom: 15px;
    color: var(--text);
    border-radius: 5px;
}
.newletter-sec .newsletter-box .mail-box .form-control:focus{
    box-shadow: none;
    outline: none;
    border-color: var(--blue);
}
.newletter-sec .newsletter-box .mail-box .submit-btn{
    background-color: var(--blue);
    color: var(--white);
    padding: 10px 20px;
    width: 100%;
    border: 1.5px solid var(--blue);
    font-weight: 500;
}
.newletter-sec .newsletter-box .mail-box .submit-btn:hover{
    background-color: var(--white);
    color: var(--blue);
}
.newletter-sec .app-box{
    margin-bottom: 30px;
}
.newletter-sec .app-box .title{
    color: var(--black);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}
.newletter-sec .app-box .app-item img{
    display: block;
    width: 100px;
    /* margin: 0 auto; */
    margin-bottom: 10px;
}
.newletter-sec .app-box .app-item a{
    color: var(--text);
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
    text-decoration: underline;
}
.footer-main-sec{
    background-color: var(--blue);
    padding: 70px 0 50px 0;
    border-bottom: 1px solid var(--white);
}
.footer-main-sec .first-col .logo img{
    width: 200px;
    margin-bottom: 30px;
}
.footer-main-sec .first-col .social-links a{
    color: var(--white);
    font-size: 25px;
    margin-right: 20px;
    transition: 0.3s all ease;
}
.footer-main-sec .footer-link-col .title{
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.footer-main-sec .footer-link-col ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer-main-sec .footer-link-col ul li{
    margin-bottom: 10px;
}
.footer-main-sec .footer-link-col li a{
    color: var(--white);
    font-size: 14px;
    transition: 0.3s all ease;
}
.footer-main-sec .footer-link-col ul li a:hover{
    text-decoration: underline;
    letter-spacing: 0.5px;
}
.footer-bottom-sec{
    background-color: var(--blue);
    padding: 30px 0 30px 0;
}
.footer-bottom-sec .footer-link-col ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: start;
}
.footer-bottom-sec .footer-link-col ul li{
    margin-right: 20px;
}
.footer-bottom-sec .footer-link-col ul li a{
    color: var(--white);
    font-size: 14px;
    transition: 0.3s all ease;
}
.footer-bottom-sec .footer-link-col ul li a:hover{
    text-decoration: underline;
}
.footer-bottom-sec .copyright-text p{
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}
.footer-bottom-sec .site-updated{
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}



/* =======================================================================
    Scroll to top Floating Button CSS
========================================================================== */
.scroll-to-top{
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: var(--blue);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    transition: 0.3s all ease;
}
.scroll-to-top:hover{
    bottom: 60px;
}